// COLORS

$orange: #fc7525;
$springWood: #f6f7f1;
$silverChalice: #afafaf;

// UTILITES

.button_site {
    background-color: $orange;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}